RewriteEngine on
RewriteRule ^beers/([0-9]+)/ingredients/([0-9]+)$ controllers/beerController.php?beer_id=$1&ingredient_id=$2%{QUERY_STRING}
RewriteRule ^beers/?$ controllers/beerController.php?%{QUERY_STRING}
RewriteRule ^beers/([0-9]+)$ controllers/beerController.php?id=$1&%{QUERY_STRING}
RewriteRule ^ingredients/?$ controllers/ingredientController.php?%{QUERY_STRING}
RewriteRule ^ingredients/([0-9]+)$ controllers/ingredientController.php?id=$1&%{QUERY_STRING}
RewriteRule ^initial_beers/?$ controllers/initialBeersController.php?%{QUERY_STRING}

<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin *
    Header set Access-Control-Allow-Methods "GET,POST,PUT,DELETE,HEAD,OPTIONS"
    Header set Access-Control-Allow-Credentials true
</IfModule>